<% content_for :title, "#{t('app')} | #{@playlist.name}" %>
<% content_for :description, "Playlist #{@playlist.name}" %>

<%= render "shared/share", text: 'Confira essa playlist no Cifralize!' %>

<h1><%= @playlist.name %></h1>

<button type="button" class="btn btn-sm btn-outline-primary" data-bs-toggle="modal" data-bs-target="#playlistModal-<%= @playlist.id %>">
  Detalhes
</button>

<div class="modal fade" id="playlistModal-<%= @playlist.id %>" tabindex="-1" aria-labelledby="playlistModalLabel-<%= @playlist.id %>" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="playlistModalLabel-<%= @playlist.id %>">Detalhes da Lista</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
      </div>
      <div class="modal-body">
        <p><strong>Nome:</strong> <%= @playlist.name %></p>
        <p><strong>Descrição:</strong> <%= simple_format(@playlist.description.presence || "Sem descrição") %></p>
      </div>
      <div class="modal-footer">
        <%= link_to "Editar", edit_playlist_path(@playlist), class: "btn btn-primary" %>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>

<% @playlist_songs.each do |ps| %>
  <div class="mt-5">
    <span class="h3"><%= ps.song.title %></span>
    <div class="btn-group mb-2" role="group">
      <%= link_to playlist_songs_move_up_path(ps.playlist, ps), class: 'btn btn-outline-secondary btn-sm ms-3', method: :get do %>
        <i class="fas fa-arrow-up"></i>
      <% end %>
      <%= link_to playlist_songs_move_down_path(ps.playlist, ps), class: 'btn btn-outline-secondary btn-sm', method: :get do %>
        <i class="fas fa-arrow-down"></i>
      <% end %>
    </div>

    <!--
    <div class="btn-group mb-2" role="group">
      <p>Tom: <%= ps.transpose %></p>
      <%= link_to '+1 Tom', playlist_songs_transpose_path(@playlist.uuid, ps, transpose: ps.transpose + 1) %>
      <%= link_to '-1 Tom', playlist_songs_transpose_path(@playlist.uuid, ps, transpose: ps.transpose - 1) %>
    </div>
    -->
    <%= link_to "Editar", playlist_songs_edit_path(@playlist.uuid, ps) %>
    <%= link_to "Remover", playlist_songs_destroy_path(@playlist.uuid, ps) %>
    <br>

    <%= link_to ps.song.artist.name, home_artist_path(ps.song.artist.slug), class: 'text-decoration-none text-body' %><br><br>

    <button type="button" class="btn btn-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#transposeModal">
      Tom: <%= ps.key %>
    </button>

    <br><br>

    <% chords = ps.chords || ps.song.chords %>

    <% transposed_chords = ChordTransposerHelper.transpose(chords, ps.transpose) %>
    <div class="chords-display mt-3" style="white-space: pre-wrap; font-family: monospace;"><%= raw format_chords(transposed_chords) %></div>
    <br><br><hr><br>
  </div>
<% end %>
