<button type="button" class="btn btn-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#transposeModal">
  Tom: <%= @song.key %>
</button>

<div class="modal fade" id="transposeModal" tabindex="-1" aria-labelledby="transposeModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="transposeModalLabel">Alterar Tom</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
      </div>
      <div class="modal-body">
        <%= form_with url: request.fullpath, method: :get, local: true do %>
          <div class="mb-3">
            <%= label_tag :transpose, "Selecione o tom", class: "form-label" %>
            <%= select_tag :transpose, options_for_select([['C', 0], ['C#', 1], ['D', 2], ['D#', 3], ['E', 4], ['F', 5], ['F#', 6], ['G', 7], ['G#', 8], ['A', 9], ['A#', 10], ['B', 11]], params[:transpose].to_i), class: "form-select" %>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <%= submit_tag "Aplicar Tom", class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
